,<%- include('./layouts/header.ejs') %> 

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container mb-5">

      </div>
    </div>
  </header>
  
  <% if (error.length > 0) { %>
    <div class="alert bg-danger text-center alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%=error%></strong> 
    </div>
    
    <script>
      $(".alert").alert();
    </script> 
<% } %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form action="/users/login" method="POST" encType="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" name="username" placeholder="Username" class="form-control" required>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
          </div>
        
          <div class="form-group my-4 text-center">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p class="small">If you don't have account <a href="/auth/register">Signup</a></p>
      </div>
    </div>
  </div>
  <%- include ('./layouts/footer.ejs') %> 